doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mocha.css')
  body
    #mocha

    script(type='text/javascript', src='/javascripts/jquery.js').
    script(type='text/javascript', src='/javascripts/chai.js').
    script(type='text/javascript', src='/javascripts/mocha.js').
    script(type='text/javascript').
      mocha.setup('bdd')
    script(type='text/javascript', src='/javascripts/test.js').
    script(type='text/javascript').
      mocha.setup('bdd')
      mocha.globals(['jQuery', 'Foursquare']);
      mocha.run();
